# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/working/
/input_version/
/.idea/
/versions/
/flame_config/
/flame_logs/
/flame_mods/
/libs/
/options.txt
/usercache.json
/run/*
FlameInstaller.jar
libraries/*
server/tmp/*